body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
  text-align: center;
  font-size: large;
}

:root {
  --primary: #9e2d2d;
  --secondary: #1f1f1f;
  --accent: #ffffff;
  --font: #ffffff;
  --font2: #000000;
  color: var(--font2);
}

::placeholder {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: var(--primary);
  color: var(--accent);
}

::-moz-selection {
  background: var(--primary);
  color: var(--accent);
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 60px;
}

a {
  text-decoration: none;
  color: inherit
}

.section-title {
  flex-basis: 100%;
  padding: 10px 0;
  font-size: 50px;
  font-weight: 400;
}

#button {
  font-weight: bold;
  background-color: var(--accent);
  color: var(--font2);
  font-size: 27px;
  margin: auto;
  width: fit-content;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
  border: none;
}

#button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/*        Header       */

header {
  display: flex;
  width: 90%;
  z-index: 100;
  padding: 20px 5%;
  background-color: var(--color-primary);
  color: var(--font-color-o);
}

#drop-header {
  background-color: var(--color-accent);
  position: fixed;
  padding: 20px 5%;
  display: none;
  color: var(--font-color);
  box-shadow: rgb(0, 0, 0, 0.3) 0px 13px 29px;
}

.header-links-div {
  display: flex;
  width: 60%;
  max-width: 700px;
  margin-left: auto;
}

.header-link {
  margin: auto;
  font-size: 20.5px;
  transition: all ease-in-out 0.3s;
}

.header-link:hover {
  font-size: 24px;
}

.header-menu-img {
  display: none;
  margin-left: auto;
}

.menu {
  margin: 5% auto;
  margin-right: 0;
}

@media screen and (max-width:800px) {
  .header-menu-img {
    display: block;
  }
  .header-links-div {
    display: none;
  }
}

/*        Home         */

.home-text {
  margin: 500px 0;
}

/*     Contact    */

.contact-outside-div {
  padding: 50px 0;
  min-height: 80vh;
  display: flex;
}

.contact-form {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.contact-form-div {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-input {
  width: 49%;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid rgb(126, 126, 126);
  padding: 17px 25px;
  box-sizing: border-box;
  outline-width: 0;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 100%!important;
  resize: vertical;
  min-height: 200px;
  max-height: 400px;
}

#submit {
  background-color: var(--primary);
  font-size: 20px;
  padding: 10px 60px;
  color: white;
  border: none;
  border: 2px solid var(--primary);
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}

#submit:hover {
  background-color: #b64f4f;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .contact-input {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-form-div {
    margin: 0;
  }
}

/*       Footer        */

footer {
  border-top: solid var(--primary) 1px;
  background-color: var(--secondary);
  color: var(--accent);
  padding-bottom: 20px;
}

.footer-text {
  line-height: 50px;
}

.footer-copyright-text {
  font-size: 20px;
}

.footer-socials {
  width: 40px;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;
  padding: 2px;
}

.footer-socials:hover {
  background-color: var(--primary);
}

.footer-socials-div {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: auto;
}

.main-div {
  height: 500px;
  background-color: var(--primary);
}

.mid {
  padding: 100px 0;
  width: 90%;
  margin: auto;
  text-align: left;
}

h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  padding-bottom: 32px;
}

#first {
  max-width: 500px;
  padding: 100px 0;
}

.sections-div, .test-div {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: 30%;
  max-width: 500px;
}

h2 {
  font-weight: 400;
}

.button {
  background-color: var(--primary);
  border-radius: 20px;
  color: white;
  margin: 10px 0;
  padding: 10px 30px;
  width: fit-content;
  transition: all ease-in-out 0.3s;
}

.button:hover {
  background-color: #b64f4f;
}

/* Quotes */

h4 {
  font-weight: 500;
  margin: 0;
}

.test-div {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.quote-div {
  margin: 0 30px;
}

.quote {
  background-color: rgba(211, 211, 211, 0.548);
  border-radius: 15px;
  padding: 40px 25px;
  width: 340px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.quote p {
  width: 80%;
}

.quote img {
  padding-bottom: 50px;
}

.quote-info {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.quote-info p {
  margin: 5px 0;
}

.about {
  padding: 100px 0;
  min-height: 70vh;
  text-align: left;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.about p {
  letter-spacing: -0.003em;
  line-height: 32px;
  font-size: 21px;
  color: rgba(41, 41, 41, 1)
}