body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
  text-align: center;
  font-size: large;
}

:root {
  --primary: #1f1f1f;
  --secondary: #9e2d2d;
  --accent: #ffffff;
  --font: #ffffff;
  --font2: #000000;
  color: var(--font2);
}

::placeholder {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: var(--primary);
  color: var(--accent);
}

::-moz-selection {
  background: var(--primary);
  color: var(--accent);
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 60px;
}

a {
  text-decoration: none;
  color: inherit
}

.section-title {
  flex-basis: 100%;
  padding: 10px 0;
  font-size: 50px;
  font-weight: 400;
}

#button {
  font-weight: bold;
  background-color: var(--accent);
  color: var(--font2);
  font-size: 27px;
  margin: auto;
  width: fit-content;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
  border: none;
}

#button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

@keyframes dropExpand {
  from {
    right: 0;
  }
  to {
    right: -100vw;
  }
}

@keyframes dropHide {
  0% {
    right: -110vw;
  }
  100% {
    right: 0;
  }
}

.dropdown-div {
  position: fixed;
  right: -110vw;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
}

.dropdown-body {
  background-color: var(--color-accent);
  position: relative;
  width: 75vw;
}

.drop-header-div {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  align-items: center;
  font-size: 30px;
}

.drop-exit-div {
  height: 100vh;
  width: 25vw;
}

.dropdown-link-div {
  align-items: center;
  display: flex;
  height: 70%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 30px;
}

@keyframes headerComeOut {
  from {
    top: 0;
  }
  to {
    top: -300px;
  }
}

@keyframes headerComeIn {
  from {
    top: -300px;
  }
  to {
    top: 0;
  }
}

header {
  display: flex;
  width: 90%;
  z-index: 100;
  padding: 20px 5%;
  background-color: var(--primary);
  color: var(--font);
}

#drop-header {
  background-color: white;
  position: fixed;
  padding: 20px 5%;
  display: none;
  color: var(--font2);
  box-shadow: rgb(0, 0, 0, 0.3) 0px 13px 29px;
}

.header-links-div {
  display: flex;
  width: 60%;
  max-width: 800px;
  margin-left: auto;
}

.header-link {
  margin: auto;
  font-size: 20.5px;
  transition: all ease-in-out 0.3s;
}

.header-link:hover {
  font-size: 24px;
}

#header-register {
  border-radius: 1000px;
  padding: 9px;
  background-color: #9e2d2d;
  color: white;
}

.header-menu-img {
  display: none;
  margin-left: auto;
}

.menu {
  margin: 5% auto;
  margin-right: 0;
}

@media screen and (max-width:800px) {
  .header-menu-img {
    display: block;
  }
  .header-links-div {
    display: none;
  }
}

h1 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 60px;
}

.intro-div {
  background-color: var(--primary);
  overflow-x: hidden;
  color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

#wave {
  margin-top: -100px;
}

.intro-text-div {
  width: 200px;
  position: relative;
  animation: slideFromLeft 1.5s forwards;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro-text-div h1 {
  font-size: 60px;
}

.intro-text-div p {
  margin: auto;
  font-size: 28px;
  background-color: var(--secondary);
  color: var(--accent);
}

.intro-text-div p:hover {
  background-color: var(--accent);
  color: var(--primary);
  cursor: pointer;
}

@keyframes slideFromLeft {
  from {
    left: -1500px;
    -webkit-transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    left: 0px;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideFromRight {
  from {
    left: 1500px;
    visibility: visible;
  }
  to {
    left: 0px;
    visibility: visible;
  }
}

.intro-img {
  visibility: hidden;
  width: 600px;
  position: relative;
  animation: slideFromRight 2s 0.5s forwards;
}

.intro-button {
  font-weight: bold;
  background-color: var(--accent);
  color: var(--font-color);
  font-size: 27px;
  margin: auto;
  width: fit-content;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
  border: none;
}

.intro-button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

@media screen and (max-width:1150px) {
  .intro-div {
    height: unset;
    padding: 20px 0;
  }
  .intro-inside-div {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  h1 {
    font-size: 40px;
  }
  .intro-img {
    width: 600px;
  }
}

@media screen and (max-width:550px) {
  .intro-img {
    width: 450px;
  }
}

/*     Contact    */

.contact-outside-div {
  padding: 50px 0;
  min-height: 80vh;
  display: flex;
}

.contact-form {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.contact-form-div {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-input {
  width: 49%;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid rgb(126, 126, 126);
  padding: 17px 25px;
  box-sizing: border-box;
  outline-width: 0;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 100%!important;
  resize: vertical;
  min-height: 200px;
  max-height: 400px;
}

#submit {
  background-color: var(--primary);
  font-size: 20px;
  padding: 10px 60px;
  color: white;
  border: none;
  border: 2px solid var(--primary);
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}

#submit:hover {
  background-color: #b64f4f;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .contact-input {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-form-div {
    margin: 0;
  }
}

/*       Footer        */

footer {
  background-color: var(--secondary);
  color: var(--accent);
  padding-bottom: 20px;
}

.footer-title {
  flex-basis: 100%;
  padding: 10px 0;
  font-size: 35px;
  font-weight: 400;
}

.footer-title {
  color: var(--accent);
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  align-items: center;
  line-height: 30px;
  text-align: left;
}

.footer-copyright-text {
  font-size: 20px;
}

.footer-logo {
  width: 150px;
}

.footer-socials {
  width: 50px;
  border-radius: 100%;
  transition: all ease-in-out 0.3s;
  padding: 2px;
  margin: 0px 20px;
  background-color: transparent;
}

.footer-socials:hover {
  background-color: transparent;
}

.footer-socials-div {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.main-div {
  height: 500px;
  background-color: var(--primary);
}

.mid {
  padding: 100px 0;
  width: 90%;
  max-width: 1600px;
  margin: auto;
  text-align: left;
}

h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  padding-bottom: 32px;
}

#first {
  max-width: 500px;
  padding: 100px 0;
}

.sections-div, .test-div {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.section {
  width: 30%;
  max-width: 500px;
}

h2 {
  font-weight: 400;
}

.button {
  background-color: var(--secondary);
  border-radius: 20px;
  color: var(--accent);
  margin: 10px 0;
  padding: 10px 30px;
  width: fit-content;
  transition: all ease-in-out 0.3s;
}

.button:hover {
  background-color: var(--primary);
}

/* Quotes */

h4 {
  font-weight: 500;
  margin: 0;
}

.test-div {
  padding: 20px 0;
  display: flex;
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow-x: scroll;
  border-radius: 10px;
}

.test-div::-webkit-scrollbar-track {
  background-color: transparent;
}

.test-div::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.342);
}

.test-div::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

.quote-div {
  margin: 0 30px;
}

.quote {
  background-color: rgba(211, 211, 211, 0.548);
  border-radius: 15px;
  padding: 40px 25px;
  width: 340px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.quote p {
  width: 80%;
}

.quote img {
  padding-bottom: 50px;
}

.quote-info {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.quote-info p {
  margin: 5px 0;
}

.about {
  padding: 100px 0;
  min-height: 70vh;
  text-align: left;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.about p {
  letter-spacing: -0.003em;
  line-height: 32px;
  font-size: 21px;
  color: rgba(41, 41, 41, 1)
}

.price-table {
  text-align: center;
  font-size: 16px;
  width: 100%;
  display: table;
  background-color: #d4d4d2;
  word-wrap: break-word;
}

.price-table tr, .price-table td {
  padding: 20px 30px;
  background-color: white;
}

th {
  font-weight: 500;
  width: 70%;
}

#tbheader th {
  background-color: rgb(194, 194, 194);
}